/* Work sans font from google */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* Shared Styles */

* {
    font-family: 'Work Sans', sans-serif;
    font-family: 'lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.banner-description {
    color: #727272;
}

.btn-primary {
    border-radius: 8px;
    background: #FF900E;
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

/* Header CSS */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-title {
    color: #131313;
    font-size: 2.8rem;
    font-weight: 700;
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav li a {
    color: #424242;
    text-decoration: none;
}

/* Banner Section */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    color: #131313;
    font-size: 4rem;
    font-weight: 700;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* Main Section */
/* Team Feature Section */

main {
    max-width: 1440px;
    margin: 0 auto;
}

.team-container {
    display: flex;
    align-items: center;
}

.team-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.team-content {
    padding-left: 70px;
    padding-right: 70px;
}

.content-title {
    font-size: 2.8rem;
}

.content-title .gray {
    font-weight: 500;
}

.content-title .orange {
    color: #FF900E;
    font-weight: 700;
}

/* Responsive Style */
/* Small Device */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }

    .team-content {
        padding-left: 30px;
        padding-right: 30px;
    }

    .team-container {
        flex-direction: column-reverse;
    }

    .team-img-container {
        grid-template-columns: 1fr;
    }

    .btn-primary {
        margin-bottom: 10px;
    }
}

/* Medium Device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 50px;
    }

    nav {
        flex-direction: column;
    }

    .team-container {
        flex-direction: column-reverse;
    }

    .btn-primary {
        margin-bottom: 10px;
    }
}